/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background-color: var(--white-color);
}

/* globe */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  line-height: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
       -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: 0 75px;
}

:root {
  --black: #000000;
  --white-color: #ffffff;
  --orange-color: #ff9900;
  --dark-gray: #333333;
  --color-light-gr: #cacaca;
  --red-orange: #e1670e;
  --light-orange: #f7b045;
  --light-gray: #666666;
  --smoke-white: #ececec;
}

/* header */

.header {
  background: var(--white-color);
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
  padding: 14px 75px;
}
.burger-menu {
  display: none;
}
.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 2;
  top: 0px;
  left: -100%;
  width: 420px;
  min-height: 776px;
  margin: 0;
  padding: 162px 0 0 50px;
  list-style: none;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.menubox__active {
  visibility: visible;
  left: 0;
}
.menu-item {
  display: inline-block;
  margin-bottom: 60px;
  color: var(--dark-gray);
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.menu-item:hover {
  border-bottom: 1px solid var(--orange-color);
}
/* #menu-toggle {
  opacity: 0;
}
#menu-toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
} */
.burger {
  display: none;
  width: 30px;
  height: 23px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
.burger span {
  position: absolute;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -o-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 3px;
  background-color: var(--dark-gray);
}
.burger span:nth-child(1) {
  top: 0px;
  right: 0px;
}
.burger span:nth-child(2) {
  top: 10px;
  right: 0px;
}
.burger span:nth-child(3) {
  bottom: 0px;
  right: 0px;
}
.burger:not(.open):hover span:nth-child(1) {
  background-color: var(--orange-color);
}
.burger:not(.open):hover span:nth-child(2) {
  width: 25px;
  background-color: var(--orange-color);
}
.burger:not(.open):hover span:nth-child(3) {
  width: 18px;
  background-color: var(--orange-color);
}
.burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
}
.burger.open span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 50ms;
       -o-transition-duration: 50ms;
          transition-duration: 50ms;
}
.burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
}

.burger.open:hover span:nth-child(1) {
  background-color: var(--orange-color);
}
.burger.open:hover span:nth-child(2) {
  background-color: var(--orange-color);
}
.burger.open:hover span:nth-child(3) {
  background-color: var(--orange-color);
}
.header-logo {
  width: 224px;
  height: 72px;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.header-logo:focus {
  outline: 2px solid var(--orange-color);
  outline-offset: 5px;
}

.Header_nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  padding-right: 85px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark-gray);
}

.nav__link:hover {
  border-bottom: 2px solid var(--orange-color);
  padding-bottom: 7px;
  margin-bottom: -2px;
}

.nav__link:focus {
  outline: 2px solid var(--orange-color);
  outline-offset: 5px;
}

.nav__link:active {
  outline: none;
  color: var(--red-orange);
  border-bottom: 2px solid var(--red-orange);
  padding-bottom: 7px;
  margin-bottom: -2px;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 75px;
  width: 24px;
  height: 24px;
}
.form-container {
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 15px;
  height: 65px;
}
.form-btn__open path,
.form-btn__open rect,
.form-btn__submit path,
.form-btn__submit rect {
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.form-btn__open:hover path,
.form-btn__submit:hover path {
  stroke: var(--orange-color);
}
.form-btn__open:hover rect,
.form-btn__submit:hover rect {
  fill: var(--orange-color);
}
.form-btn__open:focus,
.form-btn__submit:focus {
  outline: 2px solid var(--orange-color);
  outline-offset: 4px;
}
.close-btn:hover circle {
  stroke: var(--orange-color);
}
.close-btn:hover rect {
  fill: var(--orange-color);
}
.close-btn:focus {
  outline: 2px solid var(--orange-color);
}
.close-btn:active {
  outline: none;
}
.close-btn:active circle {
  stroke: var(--black);
}
.close-btn:active rect {
  fill: var(--black);
}
.form-btn__open:active {
  outline: none;
  fill: var(--orange-color);
}
.form-btn__submit {
  margin-right: 20px;
}

.form-btn__open {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.form-btn__open.active {
  opacity: 0;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 3;
  top: 10px;
  border: 2px solid var(--light-gray);
  padding: 16px 13px 16px 32px;
  background: var(--white-color);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  max-width: 520px;
  border-radius: 16px;
  -webkit-transform: translate(150%, -50%);
      -ms-transform: translate(150%, -50%);
          transform: translate(150%, -50%);
  background-color: var(--white-color);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out 0.2s, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.2s;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.2s;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.2s, -webkit-transform 0.3s ease-in-out;
}

.form__input {
  width: 400px;
  border: 0;
  border-bottom: 1px solid #dcdcdc;
  padding: 5px;
  margin-right: 7px;
  background-color: transparent;
}

.form__input:focus-visible {
  outline: 0;
  opacity: 0.8;
}

.form__active {
  visibility: visible;
  -webkit-transform: translate(-92%, -50%);
      -ms-transform: translate(-92%, -50%);
          transform: translate(-92%, -50%);
  opacity: 1;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

/* hero */

.hero__container {
  margin-bottom: 100px;
  position: relative;
}

.hero__banner {
  max-width: 1770px;
  min-height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  position: absolute;
  z-index: 2;
  width: 897px;
  left: 80px;
  top: 100px;
  padding: 0;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
}

.hero__descr {
  margin: 0;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white-color);
}

.hero__btn {
  position: relative;
  width: 280px;
  height: 78px;
  left: 0px;
  top: 0px;
  padding: 24.83px 36.68px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  color: var(--white-color);
  background-color: var(--orange-color);
}

.hero__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
  outline: none;
}

.hero__btn:active {
  background-color: var(--red-orange);
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
}

.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 1);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 25px;
  left: 0;
  width: 100%;
}

.webp .banner__slide-1 {
  background-image: url(../img/hero_1920.webp);
}
.no-webp .banner__slide-1 {
  background-image: url(../img/hero_1920.jpg);
}
.no-js .banner__slide-1 {
  background-image: url(../img/hero_1920.jpg);
}

.webp .banner__slide-2 {
  background-image: url(../img/pic_1.webp);
}
.no-webp .banner__slide-2 {
  background-image: url(../img/pic_1.jpg);
}
.no-js .banner__slide-2 {
  background-image: url(../img/pic_1.jpg);
}

.webp .banner__slide-3 {
  background-image: url(../img/pic_2.webp);
}
.no-webp .banner__slide-3 {
  background-image: url(../img/pic_2.jpg);
}
.no-js .banner__slide-3 {
  background-image: url(../img/pic_2.jpg);
}
/* about-us */

.about__container {
  margin-bottom: 100px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--dark-gray);
}

.about__descr {
  max-width: 1235px;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.webp .about__column1 {
  background-image: url(../img/about_us_bg.webp);
}

.no-webp .about__column1 {
  background-image: url(../img/about_us_bg.jpg);
}

.no-js .about__column1 {
  background-image: url(../img/about_us_bg.jpg);
}

.about__column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  /* width: 868px; */
  /* width: 50%; */
  min-height: 622px;
  margin-right: 32px;
  /* background: url(../img/about_us_bg.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-height: 196px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.about__banner-descr {
  max-width: 59%;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}
.about__banner-descr--adapt {
  display: none;
}
.about__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px 38px;
  border: 3px solid var(--orange-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
}

.about__btn:hover {
  background-color: var(--orange-color);
}

.about__btn:focus {
  background-color: var(--orange-color);
  outline: none;
}

.about__btn:active {
  background-color: var(--red-orange);
  border-color: var(--red-orange);
}

.about__column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  min-height: 295px;
  padding: 65px 120px 65px 280px;
  margin-bottom: 32px;
  border: 1px solid var(--color-light-gr);
}

.about__item:last-child {
  margin-bottom: 0;
}

.about__item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--dark-gray);
}

.about__item-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.about-item-first {
  background-image: url(../img/about_us_box.svg);
  background-repeat: no-repeat;
  background-position: 65px 60px;
}

.about-item-second {
  background-image: url(../img/about_us_gear.svg);
  background-repeat: no-repeat;
  background-position: 65px 60px;
}

/* stages */

.stages__container {
  margin-bottom: 100px;
}

.stages__title {
  margin-bottom: 50px;
}
.stages__steps {
  margin-bottom: 45px;
}

.stages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

.stages__list-item {
  margin-right: 85px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark-gray);
}

.stages__list-item:last-child {
  margin-right: 0;
}

.steps-link--active {
  color: var(--red-orange);
}

.steps-link:hover {
  color: var(--orange-color);
}

/* .steps-link:active {
  color: var(--red-orange);
} */

.steps-link:focus {
  color: var(--dark-gray);
  outline: 2px solid var(--orange-color);
  outline-offset: 5px;
}

.stages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.stages__block-left {
  width: 100%;
  padding-right: 110px;
  margin-right: 50px;
}

.stages-list__btn--active {
  color: var(--red-orange);
}
.stages-tabs-item {
  display: none;
}
.stages-tabs-item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.stages-block__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-gray);
}

.stages-block__descr {
  margin: 0;
  margin-bottom: 50px;
  min-height: 320px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.stages__btn-detail {
  padding: 20px 38px;
  margin-right: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.stages__btn-detail:hover {
  background-color: var(--light-orange);
}

.stages__btn-detail:focus {
  background-color: var(--light-orange);
  outline: none;
}

.stages__btn-detail:active {
  background-color: var(--red-orange);
  border-color: var(--red-orange);
}

.stages__btn-contract {
  padding: 20px 38px;
  border: 1px solid var(--dark-gray);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-gray);
}

.stages__btn-contract:hover {
  background-color: var(--light-gray);
  color: var(--white-color);
  border-color: var(--light-gray);
}

.stages__btn-contract:focus {
  background-color: var(--light-gray);
  color: var(--white-color);
  border-color: var(--light-gray);
  outline: none;
}

.stages__btn-contract:active {
  background-color: var(--black);
  color: var(--white-color);
  border-color: var(--black);
}

.stages__block-right {
  width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.no-webp .stages__block-right-1 {
  background-image: url(../img/stages_1.jpg);
}
.webp .stages__block-right-1 {
  background-image: url(../img/stages_1.webp);
}
.no-js .stages__block-right-1 {
  background-image: url(../img/stages_1.jpg);
}

.no-webp .stages__block-right-2 {
  background-image: url(../img/stages_2.jpg);
}
.webp .stages__block-right-2 {
  background-image: url(../img/stages_2.webp);
}
.no-js .stages__block-right-2 {
  background-image: url(../img/stages_2.jpg);
}

.no-webp .stages__block-right-3 {
  background-image: url(../img/stages_3.jpg);
}
.webp .stages__block-right-3 {
  background-image: url(../img/stages_3.webp);
}
.no-js .stages__block-right-3 {
  background-image: url(../img/stages_3.jpg);
}

.no-webp .stages__block-right-4 {
  background-image: url(../img/stages_4.jpg);
}
.webp .stages__block-right-4 {
  background-image: url(../img/stages_4.webp);
}
.no-js .stages__block-right-4 {
  background-image: url(../img/stages_4.jpg);
}

/* faq */

.faq__container {
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 32px;
}

.slash {
  color: var(--color-light-gr);
}

.faq__item {
  cursor: pointer;
  border-top: 1px solid var(--color-light-gr);
  border-bottom: 1px solid var(--color-light-gr);
  margin-top: -1px;
  -webkit-transition: border-color 0.5s ease, color 0.5s ease;
  -o-transition: border-color 0.5s ease, color 0.5s ease;
  transition: border-color 0.5s ease, color 0.5s ease;
}

.faq__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 110px;
  padding-top: 39px;
  padding-bottom: 39px;
  /* margin-top: -1px; */
  -webkit-transition: border-color 0.5s ease, color 0.5s ease;
  -o-transition: border-color 0.5s ease, color 0.5s ease;
  transition: border-color 0.5s ease, color 0.5s ease;
}

.faq__item-title {
  max-width: 82%;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-gray);
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.faq__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  max-width: 50px;
  width: 100%;
  height: 50px;
  background-color: var(--color-light-gr);
  border: 1px solid var(--color-light-gr);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.item-btn-stroke path {
  fill: var(--light-gray);
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.faq__item:active .faq__item-btn {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq__item-top.ui-state-active {
  border-color: var(--color-light-gr);
}
.faq__item-top.ui-state-active .faq__item-btn {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: var(--smoke-white);
  border-color: var(--smoke-white);
  color: var(--light-gray);
}
.faq__item-top.ui-state-active h3 {
  color: var(--dark-gray);
}
.faq__item-top.ui-state-active + .faq__item-bottom {
  border-color: var(--color-light-gr);
  position: relative;
  z-index: 2;
}

.faq__item-top:hover,
.faq__item:hover,
.faq__item-top:focus-visible,
.faq__item:focus {
  border-color: var(--orange-color);
  position: relative;
  z-index: 2;
}
.faq__item:focus-within {
  border-color: var(--orange-color);
  position: relative;
  z-index: 2;
}

.faq__item-top:hover .faq__item-btn,
.faq__item-top:focus-visible .faq__item-btn {
  background-color: var(--orange-color);
  border-color: var(--orange-color);
}
.faq__item-top:hover .item-btn-stroke path,
.faq__item-top:focus-visible .item-btn-stroke path {
  fill: var(--white-color);
}
.faq__item-top:hover h3,
.faq__item-top:focus-visible h3 {
  color: var(--orange-color);
}
.faq__item-top:focus-visible {
  outline: 0;
}

.faq__item-bottom {
  padding-bottom: 20px;
  line-height: 2;
}

/* footer */

.footer {
  background-color: #222222;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 50px 75px;
}

.footer__left {
  min-width: 358px;
  margin-right: 25px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 10px;
}

.footer-logo__img {
  width: 100%;
  height: 100%;
}

.footer-logo:focus {
  outline: 2px solid var(--orange-color);
  outline-offset: 5px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__list-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-light-gr);
}

.footer__list-link:hover {
  color: var(--orange-color);
}

.footer__list-link:active {
  color: var(--red-orange);
}

.footer__list-link:focus {
  outline: 2px solid var(--orange-color);
  outline-offset: 5px;
}

.footer__social-link {
  display: block;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}

.footer__social-item {
  padding-right: 25px;
}

.footer__social-item:last-child {
  padding-right: 0;
}

.footer__social-link:hover path {
  fill: var(--orange-color);
}

.footer__social-link:focus {
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}

.footer__social-link:active path {
  fill: var(--red-orange);
}

.footer__center {
  max-width: 570px;
  margin-right: 25px;
}

.footer__center-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-light-gr);
}

.footer__order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer__order-input {
  text-align: start;
  padding: 14px 24px;
  min-width: 290px;
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  color: var(--white-color);
  background: #414141;
  border: none;
}

.footer__order-input--active:hover {
  background-color: var(--light-gray);
}

.footer__order-input--active:active {
  background-color: var(--light-gray);
}

.footer__order-input--active:focus {
  background-color: var(--light-gray);
  outline: 2px solid var(--orange-color);
}

.footer__order-input-text {
  resize: none;
  min-width: 290px;
  width: 100%;
  padding: 14px 24px;
  margin-bottom: 25px;
  color: var(--white-color);
  background: #414141;
  border: none;
  height: 150px;
}

.footer__order-input-text--active:hover {
  background-color: var(--light-gray);
}

.footer__order-input-text--active:active {
  background-color: var(--light-gray);
}

.footer__order-input-text--active:focus {
  background-color: var(--light-gray);
  outline: 2px solid var(--orange-color);
}

::-webkit-input-placeholder {
  color: var(--color-light-gr);
}

.footer__order-btn {
  padding: 19px 52px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  background-color: var(--orange-color);
  margin-right: 20px;
}

.footer__order-btn:hover {
  background-color: var(--light-orange);
}

.footer__order-btn:focus {
  background-color: var(--light-orange);
  outline: none;
}

.footer__order-btn:active {
  background-color: var(--red-orange);
  border-color: var(--red-orange);
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.footer__order-text {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-gr);
  padding-left: 20px;
  cursor: pointer;
}

.footer__order-text::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--color-light-gr);
  left: 0;
  top: 2px;
}

.footer__order-text::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  left: 5px;
  top: 5px;
  border-right: 2px solid #97ee3f;
  border-bottom: 2px solid #97ee3f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.hidden-input:checked + label::after {
  opacity: 1;
}

.footer__order-checkbox:focus + label::before {
  outline: 2px solid var(--orange-color);
}

.footer__right {
  max-width: 363px;
  padding-top: 90px;
  /* padding-left: 80px; */
}

.footer__right-text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-gr);
}

@media only screen and (max-width: 1366px) {
  /* header */
  /* hero */
  .hero__banner {
    min-height: 668px;
  }
  .banner__slide {
    width: 100%;
    padding: 160px 77px;
  }
  .hero__btn {
    width: 280px;
    height: 78px;
  }

  /* about-us */
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0 auto;
  }
  .about__descr {
    max-width: none;
  }
  .about__column1 {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .about__item {
    min-height: 295px;
  }
  /* stages */
  /* faq */
  .faq__item-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* footer */
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
  /* header */
  .header__container {
    padding: 26px 50px;
  }
  .header-logo {
    width: 150px;
    height: 48px;
    margin: 0 auto;
  }
  .burger-menu {
    display: block;
  }
  .burger {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .form-container {
    right: -14px;
  }
  /* hero */
  .hero__container {
    margin-bottom: 80px;
  }
  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }
  .hero__descr {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .banner {
    left: 77px;
    top: 160px;
    width: 80%;
  }
  .hero__btn {
    left: 0px;
    top: 0px;
  }
  /* about-us */
  .about__container {
    margin-bottom: 80px;
  }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-bottom: 80px;
  }
  .about__title {
    margin-bottom: 11px;
  }
  .about__descr {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 60px;
  }
  .about__column1 {
    min-height: 640px;
  }
  .about__btn {
    padding: 16px 35px;
  }
  .about__item {
    padding: 65px 132px 40px 316px;
  }
  .about-item-first {
    background-position: 75px 64px;
  }
  .about-item-second {
    background-position: 75px 64px;
  }
  /* stages */
  .stages__container {
    margin-bottom: 80px;
  }
  .stages__steps {
    margin-bottom: 52px;
  }
  .stages__block-left {
    padding-right: 0;
  }
  .stages-block__descr {
    margin-bottom: 23px;
  }
  .stages__btn-detail {
    padding: 20px 37px;
    margin-right: 27px;
  }
  .stages__btn-contract {
    padding: 19px 38px;
  }
  /* faq */
  .faq__container {
    margin-bottom: 80px;
  }
  .faq__title {
    margin-bottom: 30px;
  }
  .faq__item-title {
    font-size: 20px;
    line-height: 32px;
  }
  /* footer */
  .footer__container {
    padding: 50px;
  }
  .footer__right {
    display: none;
  }
  .footer__center {
    margin-right: 0;
  }
  .footer__order-input-text {
    margin-bottom: 22px;
  }
  .footer__order-btn {
    padding: 19px 37px;
  }
  /* footer */
}

@media screen and (max-width: 992px) {
  /* header */
  /* hero */
  .banner__slide {
    padding: 160px 40px;
  }
  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }
  .hero__descr {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
  }
  /* about-us */
  .about__item {
    min-height: 235px;
    padding: 35px 30px 35px 280px;
  }
  .about-item-first {
    background-image: url(../img/about_us_box.svg);
    background-repeat: no-repeat;
    background-position: 65px 60px;
  }

  .about-item-second {
    background-image: url(../img/about_us_gear.svg);
    background-repeat: no-repeat;
    background-position: 65px 60px;
  }
  /* stages */
  .stages-tabs-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
  }
  .stages__block-left {
    margin-right: 0;
  }
  .stages__block-right {
    min-height: 284px;
    margin-bottom: 38px;
  }
}

/* faq */

/* footer */

@media screen and (max-width: 780px) {
  /* header */
  .header__container {
    padding: 10px 50px;
  }
  .header-logo {
    width: 150px;
    height: 48px;
  }
  .menubox {
    min-height: 741px;
  }
  .form__input {
    max-width: 162px;
  }
  /* hero */
  .hero__banner {
    min-height: 663px;
  }
  .banner {
    left: 41px;
    top: 161px;
    width: 88%;
  }
  /* about-us */
  .about__item {
    min-height: 235px;
    padding: 35px 22px 33px 169px;
  }
  .about__banner {
    padding: 13px 40px;
  }
  .about__banner-descr {
    max-width: 62%;
  }
  .about__column1 {
    min-height: 649px;
  }
  .about-item-first {
    background-image: url(../img/about_us_box.svg);
    background-repeat: no-repeat;
    background-position: 39px 67px;
    background-size: 17%;
  }

  .about-item-second {
    background-image: url(../img/about_us_gear.svg);
    background-repeat: no-repeat;
    background-position: 39px 67px;
    background-size: 17%;
  }
  /* stages */
  .stages__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stages__list-item {
    margin-right: 0;
  }
  .stages__steps {
    margin-bottom: 50px;
  }
  /* faq */
  .faq__item-title {
    max-width: 86%;
  }
  /* footer */
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__nav {
    display: none;
  }
  .footer__center {
    max-width: 542px;
    margin-bottom: 50px;
  }
  .footer-logo {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .title {
    font-size: 24px;
    line-height: 29px;
  }
  /* header */
  .header__container {
    padding: 17px 15px;
  }
  .header-logo {
    width: 110px;
    height: 35px;
  }
  .form-container {
    right: -54px;
  }
  .menubox {
    padding: 78px 0 71px 15px;
    min-height: 230px;
    width: 100%;
  }
  .menu-item {
    font-size: 16px;
    line-height: 20px;
  }
  .menu-item:not(last-child) {
    margin-bottom: 32px;
  }
  /* hero */
  .hero__container {
    margin-bottom: 60px;
  }
  .hero__banner {
    min-height: 308px;
  }
  .banner__slide {
    text-align: center;
    padding: 60px 21px;
  }

  .webp .banner__slide-1 {
    background-image: url(../img/hero_425.webp);
  }
  .no-webp .banner__slide-1 {
    background-image: url(../img/hero_425.jpg);
  }
  .no-js .banner__slide-1 {
    background-image: url(../img/hero_425.jpg);
  }

  .hero__title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__descr {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }
  .hero__btn {
    width: 162px;
    height: 40px;
    padding: 2px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .banner {
    text-align: center;
    width: 93%;
    left: 11px;
    top: 60px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.4);
  }
  .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
  }
  /* about-us */
  .about__container {
    margin-bottom: 60px;
  }
  .about__content {
    margin-bottom: 0;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 13px;
  }
  .about__column1 {
    min-height: 200px;
    background-size: 100%;
    margin-bottom: 8px;
  }
  .about__banner {
    display: none;
  }
  .about__banner-descr--adapt {
    display: block;
    margin-bottom: 32px;
  }
  .about__banner-descr {
    max-width: 100%;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: var(--dark-gray);
    margin-bottom: 11px;
  }
  .about__btn {
    padding: 10px 41px;
    font-size: 12px;
    line-height: 15px;
    color: var(--orange-color);
  }
  .about__item {
    min-height: auto;
    padding: 61px 0px 0px 0px;
    border: none;
  }

  .about-item-first {
    background-image: url(../img/about_us_box320.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 64px;
  }

  .about-item-second {
    background-image: url(../img/about_us_gear320.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 64px;
  }
  .about__item-title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .about__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
  /* stages */
  .stages__container {
    margin-bottom: 57px;
  }
  .stages__title {
    margin-bottom: 16px;
  }
  .stages__steps {
    margin-bottom: 7px;
  }
  .stages__list {
    margin-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .stages__list-item {
    margin-right: 0;
    font-size: 14px;
    line-height: 28px;
  }
  .stages__block-right {
    width: 100%;
    min-height: 160px;
    margin-bottom: 16px;
    background-size: 100%;
    background-position: center;
  }
  .stages-block__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
  .stages-block__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
  .stages__block-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .stages__btn-detail {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    padding: 11px 29px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 10px;
  }
  .stages__btn-contract {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 11px 29px;
    font-size: 12px;
    line-height: 15px;
  }

  /* faq */
  .faq__container {
    margin-bottom: 60px;
  }
  .faq__title {
    margin-bottom: 17px;
  }
  .faq__item-title {
    max-width: 80%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .faq__item-btn {
    max-width: 30px;
    height: 30px;
  }
  .item-btn-stroke {
    width: 18.6px;
  }
  /* footer */
  .footer__container {
    padding-top: 27px;
    padding-bottom: 20px;
  }
  .footer__center {
    margin-bottom: 16px;
  }
  .footer__center-title {
    margin-bottom: 21px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  }
  .footer__order-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding-bottom: 25px;
    border-bottom: 1px solid #595959;
  }
  .footer__order-item {
    font-size: 14px;
    line-height: 32px;
  }
  .footer__order-input-text {
    margin-bottom: 13px;
  }
  .footer__order-btn {
    margin-right: 0;
    padding: 14px 27px;
    font-size: 12px;
    line-height: 15px;
  }
  .footer-logo {
    width: 131px;
    height: 42px;
    margin-bottom: 16px;
  }
  .footer__left {
    min-width: 100%;
    text-align: center;
  }
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social-item {
    padding-right: 16px;
  }
  .footer__social-link {
    width: 40px;
    height: 40px;
  }
  .footer__social-icon {
    width: 40px;
    height: 40px;
  }
}